@import "tailwindcss";



:root {
  --background: #fff;
  --background-menu-mobile: #FFF8F4;
  --bg-btn-primary: #BA936F;
  --text-title-primary: #BA936F;
}

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-lora: var(--font-lora);
  --font-story: var(--font-storyScript);

  --color-bgMenuMobile: var(--background-menu-mobile);
  --color-textMenuMobile: #7D553D;
  --color-bgBtnSignUp: #7D553D;
  --color-bgBtnPrimary: var(--bg-btn-primary);
  --color-textTitlePrimary: var(--text-title-primary)

}



body {
      background-color: var(--background);
}
