@import "tailwindcss";



:root {
  --background: #fff;
  --background-menu-mobile: #FFF8F4;
}

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-lora: var(--font-lora);
  --font-story: var(--font-storyScript);

  --color-bgMenuMobile: var(--background-menu-mobile);
  --color-textMenuMobile: #7D553D;
  --color-bgBtnSignUp: #7D553D;

}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
      background-color: var(--background);
}
